

.studio-header {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.web {
    color: blue;
    margin-right: 0;
}



.a-web {
    text-decoration: none;
}




.logo-link{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: var(--accent-color);
text-decoration: none;
}

.span-header {
    color:  var(--secondary-color-text);
}


.p-info {
    color: #434455;
}

.number {
    color: #434455;
}

.body {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
}

.ul-body {
    list-style: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

/* .li-body {
    padding-bottom: 48px;
    font-size: 56px;
    margin-top: 188px;
    margin-left: 472px;
    margin-right: 472px;
    width: 270px;
} */

.title {
    font-size: 56px;
    margin-top: 188px;
    margin-left: 472px;
    margin-right: 472px;
    width: 496px;
    line-height:1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;


}

.btn-body {
    background-color: blue;
    color: white;
    width: 169px;
    height: 56px;
    text-align: center;
}


.btn-body:hover {
    background-color: cornflowerblue;
}



.ul-characters {
    list-style: none;
    display: flex;
}

.li-strategy {
    margin-right: 24px;
}

.h2 {
    color: #2E2F42;
}

.p-strategy {
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}

.what {
    display: flex;
    justify-content: center;
}

.ul-doing {
    list-style: none;
    display: flex;
    /* align-items: center; */
}

.programs {
    margin-right: 24px;
    margin-left: 80px;
}

.mobile {
    margin-right: 24px;
}

.team {
    display: flex;
    justify-content: center;
}

.ul-personal {
    list-style: none;
    display: flex;
}

.mark {
    margin-right: 24px;
}

.h2-mark {
    display: flex;
    justify-content: center;
}

.p-mark {
    display: flex;
    justify-content: center;
}

.tom {
    margin-right: 24px;
}

.camila {
    margin-right: 24px;
}


.ul-footer {
    list-style: none;
}